{% extends 'admin/base_site.html'%}
{% load i18n admin_static %}
{% load my_tags cliente_tags %}

{% block extrastyle %}
	<link rel="stylesheet" href="{% static 'chosen/chosen.css' %}">
	<link rel="stylesheet" href="{% static 'chosen/docsupport/prism.css' %}">
{% endblock %}

{% block breadcrumbs %}

    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">Inicio</a>
        &rsaquo; <a href="{% url 'admin:app_list' 'turnos' %}">Turnos</a>
        &rsaquo; Agenda
    </div>

{% endblock %}

{% block content %}
    <style>
        td {
          border-right: solid 1px lightgrey;
          border-left: solid 1px lightgrey;
        }

    </style>


	<form class="form" method="get">
		<center>
			<dl>
				<table class="table-filter table table-bordered table-stripped">
					<tbody>

						<tr>
							<td style="vertical-align:middle">
								<strong> Fecha:</strong>
							</td>
							<td style="vertical-align:middle">
								<input type="date" class="date" placeholder="dd/mm/aaaa" name="fecha" value="{{ fecha }}">
							</td>
						</tr>

                        <tr>
							<td>
								<a class="btn btn-info" style="align-content: center" href="/admin/turnos/agenda/" title="Limpiar Filtros">
									<i class="fa fa-undo"></i>
								</a>
							</td>

							<td>
								<input type="submit" value="Buscar" class="btn btn-success">
							</td>
						</tr>
					</tbody>
				</table>
			</dl>
		</center>
	</form>

    <div align="center" style="padding-right: 5%">
		<h2>{{ dia_en_letras }}</h2>
    </div>

	<div align="center">
		<table id="result_list" class="table table-striped table-filter" style="table-layout: fixed">
			<thead>
				<tr>
                    <th width="100px">Hora</th>
                    <th>Consultorio 1 </th>
                    <th>Consultorio 2 </th>
                    <th>Consultorio 3 </th>
                    <th>Consultorio 4</th>
                    <th>Consultorio 5</th>
				</tr>
			</thead>

			<tbody style="align-content: center">

                {% for horario in horarios %}
                    {% if ":00" in horario %}
                        <tr>
                    {% else %}
                        <tr style="background-color: #DCDCDC">
                    {% endif %}
                        <td style="border-bottom: none"></td>
                        {% for box in especialidad|boxes_de_especialidad %}
                            <td style="border-bottom: none">
                                {% for turno in object_list %}
                                    {% if turno.box == box %}
                                        {% if turno.hora_inicio|hora_a_minutos >= horario|horario_str_a_minutos and turno.hora_inicio|hora_a_minutos < horario|horario_str_a_minutos_mas_30 %}
                                            <b>{{ turno.cliente.nombre }} </b> ({{ turno.get_tipo_display }}){% else %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>

                    {% if ":00" in horario %}
                        <tr>
                    {% else %}
                        <tr style="background-color: #DCDCDC">
                    {% endif %}
                        <td>{{ horario }}</td>
                        {% for box in especialidad|boxes_de_especialidad %}
                            <td>
                                {% for turno in object_list %}
                                    {% if turno.box == box and turno.hora_inicio|hora_a_minutos == horario|horario_str_a_minutos %}
                                        <a href="/admin/turnos/cancelar_turno/{{ turno.pk|eliminar_separador_miles }}" class="icon-block"> <i class="fa fa-ban fa-2x" style="color:red"></i> Cancelar</a>
                                        {{ "<!--" }}
                                    {% elif turno.box == box and turno.hora_inicio|hora_a_minutos < horario|horario_str_a_minutos and turno.hora_finalizacion|hora_a_minutos >= horario|horario_str_a_minutos_mas_30 %}
                                        {{ "<!--" }}
                                    {% endif %}
                                {% endfor %}
                                {% if nro_de_dia != 6 %}
                                    <a href="/admin/turnos/turno/add/?next=/admin/turnos/turno/&box={{ box }}&especialidad={{ especialidad }}&repeticiones=0&hora_inicio={{ horario }}&fecha={{ fecha|parseador_fecha }}" class="btn btn-primary" style="background-color: #1a93ca; color: white; padding: 5px; border-radius: 5px"><i class="fa fa-plus"></i></a>
                                    <font style="opacity: 0">{{ "-->" }}</font>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}

			</tbody>
		</table>
	</div>
{% endblock %}

