{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}
{% load servicio_tags %}

{% block search %}
    {% ot_search_form cl %}
{% endblock %}


{% block object-tools %}
    <ul class="object-tools">
        {% block object-tools-items %}
            <li>
                <a style="background-color: #238ae6" href="/admin/turnos/turno/">
                Ver Turnos <i class="fa fa-calendar"></i>
                </a>
            </li>
            {% if has_add_permission %}
             <li>
                <a href="/admin/servicios/ordendetrabajo/add/" class="addlink">
                    Nueva Consulta
                </a>
            </li>
            {% endif %}
        {% endblock %}
    </ul>
{% endblock %}